<div id="home">
    <!-- Your content goes here -->
    <div class="content">
        <div class="main-image">
            <img src="/src/assets/kitten.png" alt="Lime" width="400" height="400" >
        </div>
        <article class="sometext" data-theme="lime">
            <div class="content dotted-square" data-theme="lime"> 
                <h1 aria-label="Frontend Developer">
                    <span aria-hidden="true">
                        Blockchain
                        <br>
                        Developer.
                        
                    </span>
                </h1>
                <p>
                    Passion to create smart contracts
                    <br>
                    for automating user experiences.
                </p>
            </div>
        </article>
    </div>
</div>
