<div id="home" class="container">
  <img class="homesvg" src="assets/homesvg.svg" alt="Decorative SVG">
      <div class="content">
        <div class="text-wrapper">
          <h1 aria-label="Blockchain Developer">
            <span aria-hidden="true">
              <app-hyper-text [text]="'Blockchain'" [duration]="1000"></app-hyper-text>
              <app-hyper-text [text]="'Developer.'" [duration]="1000"></app-hyper-text>
            </span>
          </h1>
          <p class="description">
            Passion to create smart contracts
            <br />
            for automating user experiences.
          </p>
        </div>
        <div class="main-image">
          <img src="assets/Nick.jpg" alt="Nick" />
        </div>
      </div>
    </div>
    