<img class="linesvg" src="assets/linesvg.svg" alt="Line SVG">
  <div id="contact" class="section">
    <h1>Let's stay in touch.</h1>
    <div class="contact-form-container">
        <form class="contact-form">
            <div class="form-row">
                <div class="form-group">
                    <label for="name">Your Name</label>
                    <input type="text" id="name" name="name" placeholder="Fill your name" required>
                </div>
                <div class="form-group">
                    <label for="email">Email address</label>
                    <input type="email" id="email" name="email" placeholder="Fill your email" required>
                </div>
            </div>
            <div class="form-group">
                <label for="message">Your Message</label>
                <textarea id="message" name="message" rows="4" placeholder="Write your message here" required></textarea>
            </div>
            <button type="submit">Send Message</button>
        </form>
    </div>
</div>
