/* CSS for About Me Section */
#about {
  position: relative; /* Position relative to enable absolute positioning of child elements */
  background-color: #f9f9f9;
  padding: 50px;
  height: 100vh; /* Set the height to 100vh */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Hide overflow to ensure SVG doesn't bleed out */
}

.about-me {
  position: relative; /* To ensure it is above the SVG */
  z-index: 1; /* Ensure the text content is above the SVG */
  text-align: center; /* Center align the text */
}

.about-me h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #333;
}

.about-me p {
  font-size: 16px;
  color: #666;
  margin-bottom: 10px;
}

/* SVG Styling */
.dotsvg {
  position: absolute; /* Absolute positioning within #about */
  width: 500px;
  bottom: 75vh; /* Distance from the bottom */
  right: 15vh;
}